.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# .env*


src/assets/css/custom.css
src/assets/css/custom.css.map
env.development
.env.development
.env.staging
.env.staging.wcOrderDetail
.env.wcOrderDetail
.env.woocom
self_customizer/
wordpress_customizer_staging/
wordpress_customizer/
order_detail_customizer/
order_detail_customizer_staging/
